.li-style{
    list-style: none;
    padding: 1rem;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    /* width: 50%; */
    color: #4c4c4c;
    font-size: 1.2rem;
}
.ul-style{
    list-style: none;
    /* ALINEAR CENTRO */
    margin: auto;
    width: 50%;
    padding: 0;
    /* text-align: center; */
    text-align: left;
}
.btn-delete{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    /* float: right; */
    transition: all 0.3s;
    margin: 1rem;
    border: 1px solid #ff0000;
}
.btn-delete:hover{
    background-color: #fff;
    color: #ff0000;
    border: none;
    border: 1px solid #ff0000;
}
.title{
    cursor: pointer;
}